<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc.lease.baseInfo.dao.LeaseBankMapper">
    <!--银行-->
    <resultMap id="BaseResultMap" type="com.hc.lease.baseInfo.model.LeaseBank">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="is_enable" property="isEnable" jdbcType="BIT"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="pin_yin" property="pinYin" jdbcType="VARCHAR"/>
        <result column="short_pin_yin" property="shortPinYin" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, code, name, create_time, update_time, create_by, update_by, is_enable, sort, pin_yin, short_pin_yin
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from lease_bank
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="findPage" resultType="java.util.Map">
        select
        id, code, name, create_time "createTime", update_time "updateTime"
        , create_by "createBy", update_by "updateBy", sort, is_enable "isEnable", pin_yin "pinYin", short_pin_yin "shortPinYin"
        from lease_bank ORDER BY pin_yin ASC
    </select>

    <select id="findAll" resultType="java.util.Map">
        select
        id, code, name, pin_yin "pinYin", short_pin_yin "shortPin_Yin"
        from lease_bank
         WHERE is_enable = TRUE
        ORDER BY pin_yin ASC
    </select>

    <select id="insertViewParames" resultType="java.util.Map">
        select
        id, name
        from lease_bank ORDER BY create_time DESC
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from lease_bank
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <!-- 批量删除 -->
    <delete id="deleteBatchById" parameterType="long">
        delete from lease_bank where id in
        <foreach item="idItem" collection="list" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.hc.lease.baseInfo.model.LeaseBank">
        <selectKey keyProperty="id" resultType="Long" order="BEFORE">
            SELECT nextval('lease_bank_id_seq'::regclass) as id
        </selectKey>
        insert into lease_bank (id, code, name,
        create_time, update_time, create_by,
        update_by, is_enable, sort, pin_yin, short_pin_yin
        )
        values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR},
        #{updateBy,jdbcType=VARCHAR}, #{isEnable,jdbcType=BIT}, #{sort,jdbcType=INTEGER}, #{pinYin,jdbcType=VARCHAR},
        #{shortPinYin,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.hc.lease.baseInfo.model.LeaseBank">
        <selectKey keyProperty="id" resultType="Long" order="BEFORE">
            SELECT nextval('lease_bank_id_seq'::regclass) as id
        </selectKey>
        insert into lease_bank
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="isEnable != null">
                is_enable,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="pinYin != null">
                pin_yin,
            </if>
            <if test="shortPinYin != null">
                short_pin_yin,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="isEnable != null">
                #{isEnable,jdbcType=BIT},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="pinYin != null">
                #{pinYin,jdbcType=VARCHAR},
            </if>
            <if test="shortPinYin != null">
                #{shortPinYin,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hc.lease.baseInfo.model.LeaseBank">
        update lease_bank
        <set>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="isEnable != null">
                is_enable = #{isEnable,jdbcType=BIT},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="pinYin != null">
                pin_yin = #{pinYin,jdbcType=VARCHAR},
            </if>
            <if test="shortPinYin != null">
                short_pin_yin = #{shortPinYin,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hc.lease.baseInfo.model.LeaseBank">
    update lease_bank
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      is_enable = #{isEnable,jdbcType=BIT},
      sort = #{sort,jdbcType=INTEGER},
      pin_yin = #{pinYin,jdbcType=VARCHAR},
      short_pin_yin = #{shortPinYin,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>