<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc.lease.baseInfo.dao.LeaseDealerMapper">
    <!--经销商-->
    <resultMap id="BaseResultMap" type="com.hc.lease.baseInfo.model.LeaseDealer">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="guarantee_amount" property="guaranteeAmount" jdbcType="NUMERIC"/>
        <result column="commission" property="commission" jdbcType="NUMERIC"/>
        <result column="car_number" property="carNumber" jdbcType="INTEGER"/>
        <result column="contacts" property="contacts" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="recommender" property="recommender" jdbcType="VARCHAR"/>
        <result column="recommender_phone" property="recommenderPhone" jdbcType="VARCHAR"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="cooperate_time" property="cooperateTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="BIGINT"/>
        <result column="update_by" property="updateBy" jdbcType="BIGINT"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="province_id" property="provinceId" jdbcType="BIGINT"/>
        <result column="province_name" property="provinceName" jdbcType="VARCHAR"/>
        <result column="city_id" property="cityId" jdbcType="BIGINT"/>
        <result column="city_name" property="cityName" jdbcType="VARCHAR"/>
        <result column="area_id" property="areaId" jdbcType="BIGINT"/>
        <result column="area_name" property="areaName" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="is_enable" property="isEnable" jdbcType="BIT"/>
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <result column="grade" property="grade" jdbcType="INTEGER"/>
        <result column="branch_company_id" property="branchCompanyId" jdbcType="BIGINT"/>
        <result column="branch_company_name" property="branchCompanyName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, guarantee_amount, commission, car_number, contacts, phone, recommender, recommender_phone,
    remarks, cooperate_time, create_time, update_time, create_by, update_by, sort, province_id,
    province_name, city_id, city_name, area_id, area_name, address, is_enable, parent_id,
    grade, branch_company_id
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from lease_dealer
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="findPage" resultType="java.util.Map">
        select

        a.id, a.name, a.guarantee_amount "guaranteeAmount", a.commission, a.car_number "carNumber"
        , a.contacts, a.phone, a.recommender, a.recommender_phone "recommenderPhone"
        , a.remarks, a.cooperate_time "cooperateTime", a.create_time "createTime"
        , a.update_time "updateTime", a.create_by "createBy", a.update_by "updateBy", a.sort, a.province_id "provinceId"
        , d.name "provinceName", a.city_id "cityId", e.name "cityName"
        , a.area_id "areaId", f.name "areaName", a.address, a.is_enable "isEnable", a.parent_id "parentId"
        , a.grade, a.branch_company_id "branchCompanyId"
        , b.name "parentName"
        , c.name "branchCompanyName"

        from lease_dealer a
        LEFT JOIN lease_dealer b ON b.id=a.parent_id
        LEFT JOIN lease_branch_company c ON a.branch_company_id = c.id

        LEFT JOIN lease_area d ON a.province_id = d.id
        LEFT JOIN lease_area e ON a.city_id = e.id
        LEFT JOIN lease_area f ON a.area_id = f.id

        WHERE 1=1

        <if test="grade != null">
            and a.grade = #{grade,jdbcType=INTEGER}
        </if>
        <if test="name != null">
            and a.name like concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>

        ORDER BY a.create_time DESC
    </select>

    <select id="selectByGrade" resultMap="BaseResultMap">
  select id,name
   from lease_dealer
   WHERE grade = #{grade,jdbcType=INTEGER}
    </select>


    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from lease_dealer ORDER BY create_time DESC
    </select>

    <select id="findByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from lease_dealer
        WHERE name = #{name,jdbcType=VARCHAR}
        <if test="id != null">
            and id != #{id,jdbcType=BIGINT}
        </if>
    </select>

    <select id="selectByParentId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from lease_dealer
        WHERE parent_id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="insertViewParames" resultType="java.util.Map">
        select
        id, name, grade, branch_company_id "branchCompanyId"
        from lease_dealer
         WHERE grade = 1
        ORDER BY create_time DESC
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from lease_dealer
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <!-- 批量删除 -->
    <delete id="deleteBatchById" parameterType="long">
        delete from lease_dealer where id in
        <foreach item="idItem" collection="list" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.hc.lease.baseInfo.model.LeaseDealer">
        <selectKey keyProperty="id" resultType="Long" order="BEFORE">
            SELECT nextval('lease_dealer_id_seq'::regclass) as id
        </selectKey>
        insert into lease_dealer (id, name, guarantee_amount, commission,
        car_number, contacts, phone,
        recommender, recommender_phone, remarks,
        cooperate_time, create_time, update_time,
        create_by, update_by, sort,
        province_id, province_name, city_id,
        city_name, area_id, area_name,
        address, is_enable, parent_id,
        grade, branch_company_id)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{guaranteeAmount,jdbcType=NUMERIC},
        #{commission,jdbcType=NUMERIC},
        #{carNumber,jdbcType=INTEGER}, #{contacts,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
        #{recommender,jdbcType=VARCHAR}, #{recommenderPhone,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR},
        #{cooperateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
        #{createBy,jdbcType=BIGINT}, #{updateBy,jdbcType=BIGINT}, #{sort,jdbcType=INTEGER},
        #{provinceId,jdbcType=BIGINT}, #{provinceName,jdbcType=VARCHAR}, #{cityId,jdbcType=BIGINT},
        #{cityName,jdbcType=VARCHAR}, #{areaId,jdbcType=BIGINT}, #{areaName,jdbcType=VARCHAR},
        #{address,jdbcType=VARCHAR}, #{isEnable,jdbcType=BIT}, #{parentId,jdbcType=BIGINT},
        #{grade,jdbcType=INTEGER}, #{branchCompanyId,jdbcType=BIGINT})
    </insert>

    <insert id="insertSelective" parameterType="com.hc.lease.baseInfo.model.LeaseDealer">
        <selectKey keyProperty="id" resultType="Long" order="BEFORE">
            SELECT nextval('lease_dealer_id_seq'::regclass) as id
        </selectKey>
        insert into lease_dealer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="guaranteeAmount != null">
                guarantee_amount,
            </if>
            <if test="commission != null">
                commission,
            </if>
            <if test="carNumber != null">
                car_number,
            </if>
            <if test="contacts != null">
                contacts,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="recommender != null">
                recommender,
            </if>
            <if test="recommenderPhone != null">
                recommender_phone,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="cooperateTime != null">
                cooperate_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="provinceId != null">
                province_id,
            </if>
            <if test="provinceName != null">
                province_name,
            </if>
            <if test="cityId != null">
                city_id,
            </if>
            <if test="cityName != null">
                city_name,
            </if>
            <if test="areaId != null">
                area_id,
            </if>
            <if test="areaName != null">
                area_name,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="isEnable != null">
                is_enable,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="grade != null">
                grade,
            </if>
            <if test="branchCompanyId != null">
                branch_company_id
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="guaranteeAmount != null">
                #{guaranteeAmount,jdbcType=NUMERIC},
            </if>
            <if test="commission != null">
                #{commission,jdbcType=NUMERIC},
            </if>
            <if test="carNumber != null">
                #{carNumber,jdbcType=INTEGER},
            </if>
            <if test="contacts != null">
                #{contacts,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="recommender != null">
                #{recommender,jdbcType=VARCHAR},
            </if>
            <if test="recommenderPhone != null">
                #{recommenderPhone,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="cooperateTime != null">
                #{cooperateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="provinceId != null">
                #{provinceId,jdbcType=BIGINT},
            </if>
            <if test="provinceName != null">
                #{provinceName,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null">
                #{cityId,jdbcType=BIGINT},
            </if>
            <if test="cityName != null">
                #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="areaId != null">
                #{areaId,jdbcType=BIGINT},
            </if>
            <if test="areaName != null">
                #{areaName,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="isEnable != null">
                #{isEnable,jdbcType=BIT},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="grade != null">
                #{grade,jdbcType=INTEGER},
            </if>
            <if test="branchCompanyId != null">
                #{branchCompanyId,jdbcType=BIGINT}
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.hc.lease.baseInfo.model.LeaseDealer">
        update lease_dealer
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="guaranteeAmount != null">
                guarantee_amount = #{guaranteeAmount,jdbcType=NUMERIC},
            </if>
            <if test="commission != null">
                commission = #{commission,jdbcType=NUMERIC},
            </if>
            <if test="carNumber != null">
                car_number = #{carNumber,jdbcType=INTEGER},
            </if>
            <if test="contacts != null">
                contacts = #{contacts,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="recommender != null">
                recommender = #{recommender,jdbcType=VARCHAR},
            </if>
            <if test="recommenderPhone != null">
                recommender_phone = #{recommenderPhone,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="cooperateTime != null">
                cooperate_time = #{cooperateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="provinceId != null">
                province_id = #{provinceId,jdbcType=BIGINT},
            </if>
            <if test="provinceName != null">
                province_name = #{provinceName,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null">
                city_id = #{cityId,jdbcType=BIGINT},
            </if>
            <if test="cityName != null">
                city_name = #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="areaId != null">
                area_id = #{areaId,jdbcType=BIGINT},
            </if>
            <if test="areaName != null">
                area_name = #{areaName,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="isEnable != null">
                is_enable = #{isEnable,jdbcType=BIT},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="grade != null">
                grade = #{grade,jdbcType=INTEGER},
            </if>
            <if test="branchCompanyId != null">
                branch_company_id = #{branchCompanyId,jdbcType=BIGINT}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.hc.lease.baseInfo.model.LeaseDealer">
    update lease_dealer
    set name = #{name,jdbcType=VARCHAR},
      guarantee_amount = #{guaranteeAmount,jdbcType=NUMERIC},
      commission = #{commission,jdbcType=NUMERIC},
      car_number = #{carNumber,jdbcType=INTEGER},
      contacts = #{contacts,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      recommender = #{recommender,jdbcType=VARCHAR},
      recommender_phone = #{recommenderPhone,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      cooperate_time = #{cooperateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=BIGINT},
      sort = #{sort,jdbcType=INTEGER},
      province_id = #{provinceId,jdbcType=BIGINT},
      province_name = #{provinceName,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=BIGINT},
      city_name = #{cityName,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=BIGINT},
      area_name = #{areaName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      is_enable = #{isEnable,jdbcType=BIT},
      parent_id = #{parentId,jdbcType=BIGINT},
      grade = #{grade,jdbcType=INTEGER},
      branch_company_id = #{branchCompanyId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>