<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc.lease.baseInfo.dao.LeaseRuleMapper">
    <resultMap id="BaseResultMap" type="com.hc.lease.baseInfo.model.LeaseRule">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="rule_type" property="ruleType" jdbcType="VARCHAR"/>
        <result column="rule_value" property="ruleValue" jdbcType="NUMERIC"/>
        <result column="rule_value_1" property="ruleValue1" jdbcType="NUMERIC"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="BIGINT"/>
        <result column="update_by" property="updateBy" jdbcType="BIGINT"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="is_enable" property="isEnable" jdbcType="BIT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, rule_type, rule_value, rule_value_1, remarks, start_time, end_time, 
    create_time, update_time, create_by, update_by, sort, is_enable
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from lease_rule
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="findPage" resultType="java.util.Map">
        select
        id, name, rule_type "ruleType", rule_value "ruleValue", rule_value_1 "ruleValue1"
        , remarks, start_time "startTime", end_time "endTime"
        , create_time "createTime", update_time "updateTime", create_by "createBy", update_by "updateBy", sort, is_enable "isEnable"
        from lease_rule ORDER BY create_time DESC
    </select>

    <select id="findAll" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from lease_rule

        WHERE 1=1

        <if test="ruleType != null">
            and rule_type = #{ruleType,jdbcType=VARCHAR}
        </if>

        ORDER BY create_time DESC
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from lease_rule
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <!-- 批量删除 -->
    <delete id="deleteBatchById" parameterType="long">
        delete from lease_maintenance_partner where id in
        <foreach item="idItem" collection="list" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.hc.lease.baseInfo.model.LeaseRule">
        <selectKey keyProperty="id" resultType="Long" order="BEFORE">
            SELECT nextval('lease_rule_id_seq'::regclass) as id
        </selectKey>
        insert into lease_rule (id, name, rule_type,
        rule_value, rule_value_1, remarks,
        start_time, end_time, create_time,
        update_time, create_by, update_by,
        sort, is_enable)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{ruleType,jdbcType=VARCHAR},
        #{ruleValue,jdbcType=NUMERIC}, #{ruleValue1,jdbcType=NUMERIC}, #{remarks,jdbcType=VARCHAR},
        #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT}, #{updateBy,jdbcType=BIGINT},
        #{sort,jdbcType=INTEGER}, #{isEnable,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="com.hc.lease.baseInfo.model.LeaseRule">
        <selectKey keyProperty="id" resultType="Long" order="BEFORE">
            SELECT nextval('lease_rule_id_seq'::regclass) as id
        </selectKey>
        insert into lease_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="ruleType != null">
                rule_type,
            </if>
            <if test="ruleValue != null">
                rule_value,
            </if>
            <if test="ruleValue1 != null">
                rule_value_1,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="isEnable != null">
                is_enable,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="ruleType != null">
                #{ruleType,jdbcType=VARCHAR},
            </if>
            <if test="ruleValue != null">
                #{ruleValue,jdbcType=NUMERIC},
            </if>
            <if test="ruleValue1 != null">
                #{ruleValue1,jdbcType=NUMERIC},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="isEnable != null">
                #{isEnable,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hc.lease.baseInfo.model.LeaseRule">
        update lease_rule
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="ruleType != null">
                rule_type = #{ruleType,jdbcType=VARCHAR},
            </if>
            <if test="ruleValue != null">
                rule_value = #{ruleValue,jdbcType=NUMERIC},
            </if>
            <if test="ruleValue1 != null">
                rule_value_1 = #{ruleValue1,jdbcType=NUMERIC},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="isEnable != null">
                is_enable = #{isEnable,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hc.lease.baseInfo.model.LeaseRule">
    update lease_rule
    set name = #{name,jdbcType=VARCHAR},
      rule_type = #{ruleType,jdbcType=VARCHAR},
      rule_value = #{ruleValue,jdbcType=NUMERIC},
      rule_value_1 = #{ruleValue1,jdbcType=NUMERIC},
      remarks = #{remarks,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=BIGINT},
      sort = #{sort,jdbcType=INTEGER},
      is_enable = #{isEnable,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>