<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc.lease.wx.dao.LeaseWxTitleMapper" >
  <resultMap id="BaseResultMap" type="com.hc.lease.wx.model.LeaseWxTitle" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="home_title" property="homeTitle" jdbcType="VARCHAR" />
    <result column="home_slogan" property="homeSlogan" jdbcType="VARCHAR" />
    <result column="agent_title" property="agentTitle" jdbcType="VARCHAR" />
    <result column="car_title" property="carTitle" jdbcType="VARCHAR" />
    <result column="cardetail_title" property="cardetailTitle" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="is_enable" property="isEnable" jdbcType="BIT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, home_title, home_slogan, agent_title, car_title, cardetail_title, create_time, 
    update_time, create_by, update_by, is_enable, sort
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from lease_wx_title
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from lease_wx_title
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <select id="findPage"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from lease_wx_title
    where  1=1
    order by create_time desc
  </select>


  <insert id="insert" parameterType="com.hc.lease.wx.model.LeaseWxTitle" >
    <selectKey keyProperty="id" resultType="Long" order="BEFORE">
      SELECT nextval('lease_wx_title_id_seq'::regclass) as id
    </selectKey>
    insert into lease_wx_title (id, home_title, home_slogan, 
      agent_title, car_title, cardetail_title, 
      create_time, update_time, create_by, 
      update_by, is_enable, sort
      )
    values (#{id,jdbcType=BIGINT}, #{homeTitle,jdbcType=VARCHAR}, #{homeSlogan,jdbcType=VARCHAR}, 
      #{agentTitle,jdbcType=VARCHAR}, #{carTitle,jdbcType=VARCHAR}, #{cardetailTitle,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT}, 
      #{updateBy,jdbcType=BIGINT}, #{isEnable,jdbcType=BIT}, #{sort,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hc.lease.wx.model.LeaseWxTitle" >
    <selectKey keyProperty="id" resultType="Long" order="BEFORE">
      SELECT nextval('lease_wx_title_id_seq'::regclass) as id
    </selectKey>
    insert into lease_wx_title
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="homeTitle != null" >
        home_title,
      </if>
      <if test="homeSlogan != null" >
        home_slogan,
      </if>
      <if test="agentTitle != null" >
        agent_title,
      </if>
      <if test="carTitle != null" >
        car_title,
      </if>
      <if test="cardetailTitle != null" >
        cardetail_title,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="isEnable != null" >
        is_enable,
      </if>
      <if test="sort != null" >
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="homeTitle != null" >
        #{homeTitle,jdbcType=VARCHAR},
      </if>
      <if test="homeSlogan != null" >
        #{homeSlogan,jdbcType=VARCHAR},
      </if>
      <if test="agentTitle != null" >
        #{agentTitle,jdbcType=VARCHAR},
      </if>
      <if test="carTitle != null" >
        #{carTitle,jdbcType=VARCHAR},
      </if>
      <if test="cardetailTitle != null" >
        #{cardetailTitle,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="isEnable != null" >
        #{isEnable,jdbcType=BIT},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hc.lease.wx.model.LeaseWxTitle" >
    update lease_wx_title
    <set >
      <if test="homeTitle != null" >
        home_title = #{homeTitle,jdbcType=VARCHAR},
      </if>
      <if test="homeSlogan != null" >
        home_slogan = #{homeSlogan,jdbcType=VARCHAR},
      </if>
      <if test="agentTitle != null" >
        agent_title = #{agentTitle,jdbcType=VARCHAR},
      </if>
      <if test="carTitle != null" >
        car_title = #{carTitle,jdbcType=VARCHAR},
      </if>
      <if test="cardetailTitle != null" >
        cardetail_title = #{cardetailTitle,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="isEnable != null" >
        is_enable = #{isEnable,jdbcType=BIT},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hc.lease.wx.model.LeaseWxTitle" >
    update lease_wx_title
    set home_title = #{homeTitle,jdbcType=VARCHAR},
      home_slogan = #{homeSlogan,jdbcType=VARCHAR},
      agent_title = #{agentTitle,jdbcType=VARCHAR},
      car_title = #{carTitle,jdbcType=VARCHAR},
      cardetail_title = #{cardetailTitle,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=BIGINT},
      is_enable = #{isEnable,jdbcType=BIT},
      sort = #{sort,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>