<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc.lease.supplier.dao.LeaseSchemePriceMapper" >
  <resultMap id="BaseResultMap" type="com.hc.lease.supplier.model.LeaseSchemePrice" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="brands_id" property="brandsId" jdbcType="BIGINT" />
    <result column="series_id" property="seriesId" jdbcType="BIGINT" />
    <result column="model_id" property="modelId" jdbcType="BIGINT" />
    <result column="execution_time" property="executionTime" jdbcType="TIMESTAMP" />
    <result column="market_price" property="marketPrice" jdbcType="NUMERIC" />
    <result column="ticket_price" property="ticketPrice" jdbcType="NUMERIC" />
    <result column="bare_car_quotes" property="bareCarQuotes" jdbcType="NUMERIC" />
    <result column="purchase_tax" property="purchaseTax" jdbcType="NUMERIC" />
    <result column="first_year_premium" property="firstYearPremium" jdbcType="NUMERIC" />
    <result column="gps_cost" property="gpsCost" jdbcType="NUMERIC" />
    <result column="on_plate_cost" property="onPlateCost" jdbcType="NUMERIC" />
    <result column="customer_comprehensive_quote" property="customerComprehensiveQuote" jdbcType="NUMERIC" />
    <result column="annual_interest" property="annualInterest" jdbcType="NUMERIC" />
    <result column="color_price_remarks" property="colorPriceRemarks" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="is_enable" property="isEnable" jdbcType="BIT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="profit_points" property="profitPoints" jdbcType="NUMERIC" />
    <result column="purchase_difference" property="purchaseDifference" jdbcType="NUMERIC" />
    <result column="preferential_parameters" property="preferentialParameters" jdbcType="NUMERIC" />
    <collection property="leaseSchemePriceStages" column="id"
                ofType="com.hc.lease.supplier.model.LeaseSchemePriceStages" javaType="java.util.ArrayList"
                select="com.hc.lease.supplier.dao.LeaseSchemePriceStagesMapper.selectBySchemePriceId"/>
    <collection property="leaseSchemePrice1xs" column="id"
                ofType="com.hc.lease.supplier.model.LeaseSchemePrice1x" javaType="java.util.ArrayList"
                select="com.hc.lease.supplier.dao.LeaseSchemePrice1xMapper.selectBySchemePriceId"/>
    <collection property="leaseSchemePriceAnnuals" column="id"
                ofType="com.hc.lease.supplier.model.LeaseSchemePriceAnnual" javaType="java.util.ArrayList"
                select="com.hc.lease.supplier.dao.LeaseSchemePriceAnnualMapper.selectBySchemePriceId"/>
    <collection property="leaseSchemePriceRents" column="id"
                ofType="com.hc.lease.supplier.model.LeaseSchemePriceRent" javaType="java.util.ArrayList"
                select="com.hc.lease.supplier.dao.LeaseSchemePriceRentMapper.selectBySchemePriceId"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, brands_id, series_id, model_id, execution_time, market_price, ticket_price, bare_car_quotes, 
    purchase_tax, first_year_premium, gps_cost, on_plate_cost, customer_comprehensive_quote, 
    annual_interest, color_price_remarks, create_time, update_time, create_by, update_by, 
    is_enable, sort,type,profit_points,purchase_difference,preferential_parameters
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from lease_scheme_price
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="findPage" resultMap="BaseResultMap" parameterType="java.util.Map">
    select  id, brands_id, series_id, model_id, execution_time, market_price, ticket_price, bare_car_quotes,
    purchase_tax, first_year_premium, gps_cost, on_plate_cost, customer_comprehensive_quote,
    annual_interest, color_price_remarks, create_time, update_time, create_by, update_by,
    is_enable, sort,type,profit_points,purchase_difference,preferential_parameters
    from lease_scheme_price
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from lease_scheme_price
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hc.lease.supplier.model.LeaseSchemePrice" >
    insert into lease_scheme_price (id, brands_id, series_id, 
      model_id, execution_time, market_price, 
      ticket_price, bare_car_quotes, purchase_tax, 
      first_year_premium, gps_cost, on_plate_cost, 
      customer_comprehensive_quote, annual_interest, 
      color_price_remarks, create_time, update_time, 
      create_by, update_by, is_enable, 
      sort,type,profit_points,purchase_difference,preferential_parameters)
    values (#{id,jdbcType=BIGINT}, #{brandsId,jdbcType=BIGINT}, #{seriesId,jdbcType=BIGINT}, 
      #{modelId,jdbcType=BIGINT}, #{executionTime,jdbcType=TIMESTAMP}, #{marketPrice,jdbcType=NUMERIC}, 
      #{ticketPrice,jdbcType=NUMERIC}, #{bareCarQuotes,jdbcType=NUMERIC}, #{purchaseTax,jdbcType=NUMERIC}, 
      #{firstYearPremium,jdbcType=NUMERIC}, #{gpsCost,jdbcType=NUMERIC}, #{onPlateCost,jdbcType=NUMERIC}, 
      #{customerComprehensiveQuote,jdbcType=NUMERIC}, #{annualInterest,jdbcType=NUMERIC}, 
      #{colorPriceRemarks,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=BIGINT}, #{updateBy,jdbcType=BIGINT}, #{isEnable,jdbcType=BIT}, 
      #{sort,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{profitPoints,jdbcType=NUMERIC}, #{purchaseDifference,jdbcType=NUMERIC},#{preferentialParameters,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.hc.lease.supplier.model.LeaseSchemePrice" >
    <selectKey keyProperty="id" resultType="Long" order="BEFORE">
      SELECT nextval('lease_scheme_price_id_seq'::regclass) as id
    </selectKey>
    insert into lease_scheme_price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="brandsId != null" >
        brands_id,
      </if>
      <if test="seriesId != null" >
        series_id,
      </if>
      <if test="modelId != null" >
        model_id,
      </if>
      <if test="executionTime != null" >
        execution_time,
      </if>
      <if test="marketPrice != null" >
        market_price,
      </if>
      <if test="ticketPrice != null" >
        ticket_price,
      </if>
      <if test="bareCarQuotes != null" >
        bare_car_quotes,
      </if>
      <if test="purchaseTax != null" >
        purchase_tax,
      </if>
      <if test="firstYearPremium != null" >
        first_year_premium,
      </if>
      <if test="gpsCost != null" >
        gps_cost,
      </if>
      <if test="onPlateCost != null" >
        on_plate_cost,
      </if>
      <if test="customerComprehensiveQuote != null" >
        customer_comprehensive_quote,
      </if>
      <if test="annualInterest != null" >
        annual_interest,
      </if>
      <if test="colorPriceRemarks != null" >
        color_price_remarks,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="isEnable != null" >
        is_enable,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="profitPoints != null" >
        profit_points,
      </if>
      <if test="purchaseDifference != null" >
        purchase_difference,
      </if>
      <if test="preferentialParameters != null" >
        preferential_parameters,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="brandsId != null" >
        #{brandsId,jdbcType=BIGINT},
      </if>
      <if test="seriesId != null" >
        #{seriesId,jdbcType=BIGINT},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=BIGINT},
      </if>
      <if test="executionTime != null" >
        #{executionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="marketPrice != null" >
        #{marketPrice,jdbcType=NUMERIC},
      </if>
      <if test="ticketPrice != null" >
        #{ticketPrice,jdbcType=NUMERIC},
      </if>
      <if test="bareCarQuotes != null" >
        #{bareCarQuotes,jdbcType=NUMERIC},
      </if>
      <if test="purchaseTax != null" >
        #{purchaseTax,jdbcType=NUMERIC},
      </if>
      <if test="firstYearPremium != null" >
        #{firstYearPremium,jdbcType=NUMERIC},
      </if>
      <if test="gpsCost != null" >
        #{gpsCost,jdbcType=NUMERIC},
      </if>
      <if test="onPlateCost != null" >
        #{onPlateCost,jdbcType=NUMERIC},
      </if>
      <if test="customerComprehensiveQuote != null" >
        #{customerComprehensiveQuote,jdbcType=NUMERIC},
      </if>
      <if test="annualInterest != null" >
        #{annualInterest,jdbcType=NUMERIC},
      </if>
      <if test="colorPriceRemarks != null" >
        #{colorPriceRemarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="isEnable != null" >
        #{isEnable,jdbcType=BIT},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="profitPoints != null" >
        #{profitPoints,jdbcType=NUMERIC},
      </if>
      <if test="purchaseDifference != null" >
        #{purchaseDifference,jdbcType=NUMERIC},
      </if>
      <if test="preferentialParameters != null" >
        #{preferentialParameters,jdbcType=NUMERIC}
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hc.lease.supplier.model.LeaseSchemePrice" >
    update lease_scheme_price
    <set >
      <if test="brandsId != null" >
        brands_id = #{brandsId,jdbcType=BIGINT},
      </if>
      <if test="seriesId != null" >
        series_id = #{seriesId,jdbcType=BIGINT},
      </if>
      <if test="modelId != null" >
        model_id = #{modelId,jdbcType=BIGINT},
      </if>
      <if test="executionTime != null" >
        execution_time = #{executionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="marketPrice != null" >
        market_price = #{marketPrice,jdbcType=NUMERIC},
      </if>
      <if test="ticketPrice != null" >
        ticket_price = #{ticketPrice,jdbcType=NUMERIC},
      </if>
      <if test="bareCarQuotes != null" >
        bare_car_quotes = #{bareCarQuotes,jdbcType=NUMERIC},
      </if>
      <if test="purchaseTax != null" >
        purchase_tax = #{purchaseTax,jdbcType=NUMERIC},
      </if>
      <if test="firstYearPremium != null" >
        first_year_premium = #{firstYearPremium,jdbcType=NUMERIC},
      </if>
      <if test="gpsCost != null" >
        gps_cost = #{gpsCost,jdbcType=NUMERIC},
      </if>
      <if test="onPlateCost != null" >
        on_plate_cost = #{onPlateCost,jdbcType=NUMERIC},
      </if>
      <if test="customerComprehensiveQuote != null" >
        customer_comprehensive_quote = #{customerComprehensiveQuote,jdbcType=NUMERIC},
      </if>
      <if test="annualInterest != null" >
        annual_interest = #{annualInterest,jdbcType=NUMERIC},
      </if>
      <if test="colorPriceRemarks != null" >
        color_price_remarks = #{colorPriceRemarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="isEnable != null" >
        is_enable = #{isEnable,jdbcType=BIT},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type =#{type,jdbcType=INTEGER}
      </if>
      <if test="profitPoints != null" >
        profit_points=#{profitPoints,jdbcType=NUMERIC},
      </if>
      <if test="purchaseDifference != null" >
        purchase_difference=#{purchaseDifference,jdbcType=NUMERIC},
      </if>
      <if test="preferentialParameters != null" >
        preferential_parameters= #{preferentialParameters,jdbcType=NUMERIC}
      </if>


    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hc.lease.supplier.model.LeaseSchemePrice" >
    update lease_scheme_price
    set brands_id = #{brandsId,jdbcType=BIGINT},
      series_id = #{seriesId,jdbcType=BIGINT},
      model_id = #{modelId,jdbcType=BIGINT},
      execution_time = #{executionTime,jdbcType=TIMESTAMP},
      market_price = #{marketPrice,jdbcType=NUMERIC},
      ticket_price = #{ticketPrice,jdbcType=NUMERIC},
      bare_car_quotes = #{bareCarQuotes,jdbcType=NUMERIC},
      purchase_tax = #{purchaseTax,jdbcType=NUMERIC},
      first_year_premium = #{firstYearPremium,jdbcType=NUMERIC},
      gps_cost = #{gpsCost,jdbcType=NUMERIC},
      on_plate_cost = #{onPlateCost,jdbcType=NUMERIC},
      customer_comprehensive_quote = #{customerComprehensiveQuote,jdbcType=NUMERIC},
      annual_interest = #{annualInterest,jdbcType=NUMERIC},
      color_price_remarks = #{colorPriceRemarks,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=BIGINT},
      is_enable = #{isEnable,jdbcType=BIT},
      sort = #{sort,jdbcType=INTEGER},
      type =#{type,jdbcType=INTEGER},
      profit_points=#{profitPoints,jdbcType=NUMERIC},
      purchase_difference=#{purchaseDifference,jdbcType=NUMERIC},
      preferential_parameters= #{preferentialParameters,jdbcType=NUMERIC}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>